<form method="POST">
    <h3>VÍDEO: Moraes e Mendonça batem boca sobre atuação do Ministério da Justiça no dia 8 de janeiro</h3>
    <p>Discussão ocorreu durante o julgamento no STF. Mendonça afirmou que Força Nacional poderia ter sido acionada para evitar ataques. Moraes lembrou que cabia à PM do DF agir, e disse que Força Nacional não poderia atuar sem demanda do governo do DF.</p>
    <a href="https://www.goog"></a>
    <select name="Preferencia 1">
        <option></option>
        <option value="Preferncia1"> Preferencia1</option>
    </select>
    <br>
    <h3>VÍDEO: Moraes e Mendonça batem boca sobre atuação do Ministério da Justiça no dia 8 de janeiro</h3>
    <p>Discussão ocorreu durante o julgamento no STF. Mendonça afirmou que Força Nacional poderia ter sido acionada para evitar ataques. Moraes lembrou que cabia à PM do DF agir, e disse que Força Nacional não poderia atuar sem demanda do governo do DF.</p>
    <select name="Preferencia 1">
        <option value="Preferncia1"> Preferencia1</option>
        <option value="Preferncia1"> Preferencia1</option>
    </select>
    <br>
    <h3>VÍDEO: Moraes e Mendonça batem boca sobre atuação do Ministério da Justiça no dia 8 de janeiro</h3>
    <p>Discussão ocorreu durante o julgamento no STF. Mendonça afirmou que Força Nacional poderia ter sido acionada para evitar ataques. Moraes lembrou que cabia à PM do DF agir, e disse que Força Nacional não poderia atuar sem demanda do governo do DF.</p>
    <select name="Preferencia 1">
        <option value="Preferncia1"> Preferencia1</option>
        <option value="Preferncia1"> Preferencia1</option>
    </select>
    <br>
    <h3>VÍDEO: Moraes e Mendonça batem boca sobre atuação do Ministério da Justiça no dia 8 de janeiro</h3>
    <p>Discussão ocorreu durante o julgamento no STF. Mendonça afirmou que Força Nacional poderia ter sido acionada para evitar ataques. Moraes lembrou que cabia à PM do DF agir, e disse que Força Nacional não poderia atuar sem demanda do governo do DF.</p>
    <select name="Preferencia 1">
        <option value="Preferncia1"> Preferencia1</option>
        <option value="Preferncia1"> Preferencia1</option>
    </select>
    <br>
    
</form>
