<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cadastro de Parceiros</h1>


    <form method="POST">
        Nome Parceiro <input type="text" name="Nome_Parceiro" placeholder="Nome do Site" required><br><br>
        Link Parceiro <input type="text" name="Link_Parceiro" placeholder="Link da Feed RSS" required><br><br>
        Metodo Coleta <select name="ID_Metodo_Coleta" required>
            <option value="1">Feed RSS</option>
            <option value="2">Raspagem</option>
            <option value="3">Manual</option>
        </select><br><br>
        Nome Responsável <input type="text" name="Nome_Responsavel" placeholder="Ex: Antonio Maria"><br><br>
        Contato Responsável <input type="text" name="Contato_Responsavel" placeholder="Ex: (11)950867864"><br><br>
        Licença Distribuição <input type="text" name="Licenca_Distrib"><br><br>
        <input type="submit" value="Enviar">
    </form>

</body>

</html>