<form method="post">
    <input type="submit" value="Enviar">
    <p>Noticia</p>
    <select name="{noticia[0]}">
        <option value="Aprovado"></option>
        <option value="Repovado"></option>
    </select>
    <br>
    <p>Noticia</p>
    <select name="{noticia[0]}">
        <option value="Aprovado"></option>
        <option value="Repovado"></option>
    </select>
    <br>
    <p>Noticia</p>
    <select name="{noticia[0]}">
        <option value="Aprovado"></option>
        <option value="Repovado"></option>
    </select>
    <br>
</form>
    